<!-- =============================
     SIDEBAR (RIGHT COLUMN)
     This appears on EVERY page
     ============================= -->

<div style="padding:15px; border-left:2px solid #ccc;">

  <!-- =============================
       YOU EDIT THIS AREA
       Add anything here:
       - images
       - links
       - promo text
       - embedded players
       ============================= -->

  <h2><br />Sidebar Promotions!</h2>

  <p>This is where promos go.</p>

<a href="luxorlu.html">
  <img src="images/promo00.png" style="width:100%;">
</a>

<div style="height: 228px; width: 204px;"><iframe src="https://audio.com/embed/audio/1856627884988677?theme=image"
    style="display:block; border-radius: 1px; border: none; height: 204px; width: 204px;"></iframe><a href='https://audio.com/lewvegas' style="text-align: center; display: block; color: #A4ABB6; font-size: 12px; font-family: sans-serif; line-height: 16px; margin-top: 8px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">@lewvegas</a></div>

  <p>new release</p>

  <p><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br></p>
     
  <!-- EXAMPLES YOU CAN ADD LATER:

  <img src="images/tape1.png" style="width:100%;">

  <a href="music.html">Listen Now</a>

  <p><b>Upcoming Show:</b> Friday Night</p>

  -->

</div>
